<template name="attendees">
  <div class="page attendees">
    {{> nav title='Attendees' black=true}}

    <div class="content-scrollable">
      <div class="bg-image attendees">
        <h1 class="title-attendees">
          <img src="img/app/title-about.svg" alt="Attendees"/>
        </h1>
    </div>
    {{> list}}

    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>
  </template>

  <template name="list">
  {{#each userInCollection}}
  <img src={{services.twitter.profile_image_url_https}}> {{profile.name}} (@{{services.twitter.screenName}}) Score: {{score}}<br>
      {{/each}}
  </template>
