<template name="home">
  <div class="page home">
    {{>nav title='{{conferenceShortName}}' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="{{logo}}" alt="cde2015"/>
        </h1>
        <h2>{{conferenceName}}</h2>
        <span class="arrow"></span>
      </div>

      {{#if currentUser}}
        <div id="link-container">
          <div class="link-home"><a href="{{facebook}}">
              <img class="link" src="img/app/facebook.png"/>
          </a></div>
          <div class="link-home"><a href='{{twitter}}'>
              <img class="link" src="img/app/twitter.png"/>
          </a></div>
          <div class="link-home"><a href='{{youtube}}'>
              <img class="link" src="img/app/youtube.png"/>
          </a></div>
        </div>

        <div class="info-container">
          {{generalInformation}}
        </div>

      {{else}}
        {{#if isReady}}
          <div>{{> login}}</div>
        {{else}}
          <div class='loading'>
            <div class="wrapper-message">
              <div class="icon-sync"></div>
              <div class="title-message">Loading</div>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name='login'>
  <div id="login-buttons">
    <div class="service-login-buttons">

      <div class="login-text-and-button">
        <div class="login-button single-login-button" id="login-buttons-facebook">
          <div class="login-image" id="login-buttons-image-facebook"></div>
          <span class="text-besides-image sign-in-text-facebook">Sign in with Facebook</span>
        </div>
      </div>

      <div class="login-text-and-button">
        <div class="login-button single-login-button" id="login-buttons-twitter">
          <div class="login-image" id="login-buttons-image-twitter"></div>
          <span class="text-besides-image sign-in-text-twitter">Sign in with Twitter</span>
        </div>
      </div>

      <div class="login-text-and-button">
        <div class="login-button single-login-button" id="login-buttons-linkedin">
          <div class="login-image" id="login-buttons-image-linkedin"></div>
          <span class="text-besides-image sign-in-text-linkedin">Sign in with Linkedin</span>
        </div>
      </div>

    </div>
  </div>
</template>
