<template name="home">
  <div class="page home">
    {{>nav title='CDE 2015' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo.png" alt="OEC2016"/>
        </h1>
        <h2>Ontario Engineering Competition 2016</h2>
      </div>

      {{#if currentUser}}
        <div id="link-container">
          <div class="link-home"><a href='https://www.facebook.com/oec2016'>
              <img class="link" src="img/app/facebook.png"/>
          </a></div>
          <div class="link-home"><a href='https://twitter.com/oec2016'>
              <img class="link" src="img/app/twitter.png"/>
          </a></div>
        </div>

        <div class="info-container">
          <div class="bold">Delta Waterloo Hotel</div>
          <div>110 Erb St. W</div>
          <div>Waterloo, N2L 0C6</div>
        </div>

        <div class="info-container">
          <div><span class="bold">Waterloo Taxi:</span> 519-888-7777</div>
          <div><span class="bold">City Cabs:</span> 519-747-7777</div>
          <div><span class="bold">United Taxi:</span> 519-888-9999</div>
        </div>

        <div id="download-container">
          <a href='pdf/delegate_package.pdf'><div class="download">Delegate Package</div></a>
        </div>

      {{else}}
        {{#if isReady}}
          <div>{{> login}}</div>
        {{else}}
          <div class='loading'>
            <div class="wrapper-message">
              <div class="icon-sync"></div>
              <div class="title-message">Loading</div>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name='login'>
  <div id="login-buttons">
    <div class="service-login-buttons">

      <div class="login-text-and-button">
        <div class="login-button single-login-button" id="login-buttons-facebook">
          <div class="login-image" id="login-buttons-image-facebook"></div>
          <span class="text-besides-image sign-in-text-facebook">Sign in with Facebook</span>
        </div>
      </div>

      <div class="login-text-and-button">
        <div class="login-button single-login-button" id="login-buttons-twitter">
          <div class="login-image" id="login-buttons-image-twitter"></div>
          <span class="text-besides-image sign-in-text-twitter">Sign in with Twitter</span>
        </div>
      </div>

      <div class="login-text-and-button">
        <div class="login-button single-login-button" id="login-buttons-linkedin">
          <div class="login-image" id="login-buttons-image-linkedin"></div>
          <span class="text-besides-image sign-in-text-linkedin">Sign in with Linkedin</span>
        </div>
      </div>

    </div>
  </div>
</template>
