<template name="shareOverlay">
  <div class="overlay share">
    {{#unless postData}}
      <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>
      <div class="wrapper-heading">
        <div class="title-overlay">Share</div>
        <div class="subtitle-overlay">Share something about this event with the community.</div>
      </div>

      <div class="wrapper-share">
        <div class="wrapper-textonly">
          <a class="js-attach-text btn-camera"><span class="icon-rss"></span></a>
          <div class="subtext-camera">Share a text post</div>
        </div>
      </div>
    {{else}}
      <a href="#" class="js-unattach overlay-back"><span class="icon-arrow-left-alt"></span></a>
      <div class="title-page">Share</div>
      <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

      {{#if postImage}}
        <div class="bg-image" style="background-image: url('{{postImage}}')"></div>
      {{else}}
        <div class="bg-image" style="background-image: url('/img/app/event-background.png')"></div>
      {{/if}}

      <form class="form-share">
        <div class="form-group">
          <div class="avatar">
            <img src="{{avatar}}" class="image-avatar">
          </div>

          <textarea name="text" type="text"
            autocapitalize="off" autocorrect="off"
            required maxlength="131" class="message-share"
            placeholder="{{#if postImage}}Add a comment to your picture...{{else}}Enter your post here...{{/if}}"></textarea>
        </div>

        <div class="wrapper-checkbox">
          {{#if hasFacebook}}
            <label for="facebooking" class="checkbox">
              <input type="checkbox" name="facebooking" id="facebooking">
              <span>Post to Facebook</span>
            </label>
          {{/if}}
          {{#if hasTwitter}}
            <label for="tweeting" class="checkbox">
              <input type="checkbox" name="tweeting" id="tweeting">
              <span>Post to Twitter</span>
            </label>
          {{/if}}
        </div>

        <button class="btn-primary" type='submit'>
          Share{{#if socialing}} &amp; Post{{/if}}
        </button>
      </form>
    {{/unless}}
  </div>
</template>
