<template name="profileItem">
  <a class="profile-page {{highlightedClass}}" href="{{pathFor 'profileList'}}/{{_id}}">

    <div class="user-profile">
      <div class='image-item'>
        <img src='{{avatar}}' />
      </div>
      <div class='description-item'>
        <div class='name-item'>{{name}}</div>
        <div class='info-item'>
          <div class='school-small'>{{school}}</div>
          <div class='bullet'>-</div>
          <div class='points-small'>{{points}} points</div>
        </div>
      </div>
    </div>

  </a>
</template>
