.page.bookmarks {
  .content-scrollable { padding-top: 3em; }
}

.page.profile, .page.profiles {
  .content-scrollable {
    margin-top: 47px;
  }
}

.page.profile {
  .user-profile {
    margin-top: 50px;
    text-align: center;

    #image {
      img {
        height: 48px;
        width: 48px;
        border: 1px solid black;
        border-radius: 24px;
      }

      margin-bottom: 10px;
    }

    div {
      margin-bottom: 2px;
    }
  }
}

.page.profiles {
  .user-profile {
    margin-left: 5px;

    .image-item {
      margin-right: 5px;
    }

    div {
      float: left;
      margin-top: 5px;
    }

    .info-item {
      div {
        margin-right: 3px;
      }
    }
  }

  .people-toggle {
    background-color: #bbbbbb;
    color: white;
    width: 50%;
    margin: -1px;
    text-align: center;
    padding: 15px;
    display: inline-block !important;

    &.selected {
      background-color: #7c7c7c
    }
  }
}
