<template name="profilePage">
  <div class="page profile">
    {{> nav title='Profile'}}

      <div class="content-scrollable">
        <div class="page-profile {{#unless isReady}}loading{{/unless}}">
        {{#if isReady}}
          <div class='user-profile'>
            {{#with data}}
              <div id='image'><img src='{{services.twitter.profile_image_url_https}}' /></div>
              <div id='name'>{{name}}</div>

              {{#if isCurrentUser}}
                <div>
                  <button id="logout-button">Sign Out</button>
                </div>
              {{/if}}

              <div>
                {{#if hasFacebook}}
                  <div class='service'>
                    <a href='{{services.facebook.link}}'>Facebook: {{services.facebook.first_name}}</a>
                  </div>
                {{else}}
                  {{#if isCurrentUser}}
                    <button class="link-facebook">Connect with Facebook.</button>
                  {{/if}}
                {{/if}}

                {{#if hasTwitter}}
                  <div class='service'>
                    <a href='https://twitter.com/{{services.twitter.screenName}}'>Twitter: @{{services.twitter.screenName}}</a>
                  </div>
                {{else}}
                  {{#if isCurrentUser}}
                    <button class="link-twitter">Connect with Twitter.</button>
                  {{/if}}
                {{/if}}

                {{#if hasLinkedin}}
                  <div class='service'>
                    <a href='https://www.linkedin.com/profile/view?id={{services.linkedin.id}}'>LinkedIn: {{name}}</a>
                  </div>
                {{else}}
                  {{#if isCurrentUser}}
                    <button class="link-linkedin">Connect with LinkedIn.</button>
                  {{/if}}
                {{/if}}
              </div>

              <!-- If is current current user -->
              <div id='school' class="{{#if isCurrentUser}}editable{{/if}}" contenteditable={{isCurrentUser}}>{{school}}</div>
              <div id='year' class="{{#if isCurrentUser}}editable{{/if}}" contenteditable={{isCurrentUser}}>{{year}}</div>
              <div id='program' class="{{#if isCurrentUser}}editable{{/if}}" contenteditable={{isCurrentUser}}>{{program}}</div>
              <div id='about' class="{{#if isCurrentUser}}editable{{/if}}" contenteditable={{isCurrentUser}}>{{about}}</div>
            {{/with}}
          </div>
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
