<template name="profileList">
  <div class="page profiles">
    {{#nav title='People'}}
    {{/nav}}
    <div class="content-scrollable">
      <button id="names" class="people-toggle selected">By Name</button>
      <button id="points" class="people-toggle">By Points</button>
      <div class="list-profiles {{#unless isReady}}loading{{/unless}}">
        {{#if isReady}}
          {{#each profiles}}
            {{> profileItem}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No one has signed up yet!</div>
            </div>
          {{/each}}
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
