<template name="profilePage">
  <div class="page profile">
    {{> nav title='Profile'}}

      <div class="content-scrollable">
        <div class="page-profile {{#unless isReady}}loading{{/unless}}">
        {{#if isReady}}
          <div class='user-profile'>
            {{#with data}}
              <div id='image'><img src='{{services.twitter.profile_image_url_https}}' /></div>
	      <div id='name'>{{name}}</div>
	      {{> linkTemplate}}
              {{#each arrayify services}}
                <div id='service'>Find me on {{name}}!</div>
              {{/each}}
              <div id='school'>{{school}}</div>
              <div id='year'>{{year}}</div>
              <div id='program'>{{program}}</div>
              <div id='about'>{{about}}</div>
            {{/with}}
          </div>
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="linkTemplate">
    <div>
	<button id="logout-button">Sign Out</button>	
    </div>
    <div>
      <button class="link-twitter">Connect with Twitter.</button>
      <button class="link-facebook">Connect with Facebook.</button>
      <button class="link-linkedin">Connect with LinkedIn.</button>
    </div>
</template>
