.page.bookmarks {
  .content-scrollable { padding-top: 3em; }
}

.page.profile, .page.profiles {
  .content-scrollable {
    margin-top: 47px;
  }
}

.page.profile {
  .user-profile {
    margin-top: 50px;

    text-align: center;

    #image {
      img {
        height: 48px;
        width: 48px;
        border: 1px solid black;
        border-radius: 24px;
      }

      margin-bottom: 10px;
    }

    div {
      margin-bottom: 2px;
    }
  }
}
