<template name="activityItem">
  <span class="item-activity">
    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        {{#if image}}
          <div class="bg-image" style="background-image: url('{{image}}');"></div>
        {{/if}}
        <div>{{text}}</div>

        <span class="author">{{fullName}}</span>
        <span class="date">{{formattedDate}}</span>
        <span class="likes">{{likeCount}} Likes</span>
        {{#if isLiked}}
        <span class="activity-unlike"> Unlike</span>
        {{else}}
        <span class="activity-like"> Like</span>
        {{/if}}
       </span>
    </span>
  </span>
</template>
