<template name="eventList">
  <div class="page events">
    {{#nav title='Events'}}
      <a href="#" class="nav-item js-share"><i class="fa fa-pencil-square-o" style="line  -height: 3"></i></a>
    {{/nav}}

    <div class="content-scrollable">
      <button id="all" class="events-toggle selected">All Events</button>
      <button id="agenda" class="events-toggle">My Agenda</button>
      <div class="list-events">
      {{#each events}}
        {{> eventItem}}
      {{/each}}
      </div>
    </div>

  </div>
</template>
