<template name="eventPage">
  <div class="page event {{activeTabClass}}">
    {{#nav title='Event' back=true}}
      <a href="#" class="nav-item js-share"><i class="fa fa-pencil-square-o" style="line-height: 3"></i></a>
    {{/nav}}

    <div class="attribution-event">
      {{#with data}}
        <h1 class="title-event">{{title}}</h1>
        <span class="metadata-event">
          <span class="location-event">{{location}}</span>
          <br />
          <span class="time-event">{{startDateDisplay}} - {{endDateDisplay}}</span>
        </span>
      {{/with}}
    </div>

    <div class="btns-group">
      {{#if attending}}
        <a class="btn-secondary js-remove-from-agenda"><i class="fa fa-heart liked"></i></a>
      {{else}}
        <a class="btn-secondary js-add-to-agenda"><i class="fa fa-heart"></i></a>
      {{/if}}
    </div>

    {{#with data}}
      <div class="description-event">
        <div class="description-container">
          {{description}}
        </div>
      </div>
    {{/with}}
  </div>
</template>
