<template name="eventPage">
  <div class="page event {{activeTabClass}}">
    {{#nav title='Event'}}
      <a href="#" class="nav-item js-share"><span class="icon-camera"></span></a>
    {{/nav}}

    {{#with data}}
      <div class="description-event">
        <div class="description-container">
          {{description}}
        </div>
      </div>
    {{/with}}

    <div class="attribution-event js-uncollapse">
      {{#with data}}
        <h1 class="title-event">{{title}}</h1>
        <span class="metadata-event">
          <span class="location-event">{{location}}</span>
          <br />
          <span class="time-event">{{startDateDisplay}} - {{endDateDisplay}}</span>
        </span>
      {{/with}}

      <div class="btns-group">
        <a class="btn-secondary no-state js-show-attend">Attend</a>
      </div>
    </div>

    <div class="content-scrollable static-nav make-scrollable">
      <a class="btn-tertiary">Add this to your agenda?</a>
      <div class="share-image-container">
        <img class='share-image' src="{{data.image}}" />
      </div>

      <div class="btn-primary js-uncollapse js-add-to-agenda">
        <a href={{getDownloadLink}} download={{data._id}}.vcs>Confirm</a>
      </div>
    </div>
  </div>
</template>
