<template name="eventPage">
  <div class="page event {{activeTabClass}}">
    {{#nav title='Event'}}
      <a href="#" class="nav-item js-share"><span class="icon-camera"></span></a>
    {{/nav}}

    <div class="image-event" style="background-image: url('{{image}}')"></div>

    <div class="attribution-event js-uncollapse">
      {{#with data}}
        <img src="{{image}}" />
        <h1 class="title-event">{{title}}</h1>
        <span class="metadata-event">
          <span class="location-event">{{location}}</span>
          <br />
          <span class="time-event">{{date}}</span>
        </span>
      {{/with}}

      <div class="btns-group">
        <a class="btn-secondary no-state js-show-attend">Attend</a>
      </div>
    </div>

    <div class="content-scrollable static-nav make-scrollable">
      <a class="btn-tertiary js-share">Add this to your agenda?</a>
      <img class='share-image' src="{{data.image}}" />

      <div class="btn-primary js-uncollapse js-add-to-agenda">Confirm</div>
    </div>
  </div>
</template>
