<template name="eventItem">
<a class="item-event" href="{{pathFor 'eventList'}}/{{_id}}" style="background-image: url('{{image}}')">
    <div class="attribution-event">
      <span class="title-event">{{title}}</span>
      <span class="metadata-event">
        <span class="location-event">{{location}}</span>
        <span class="date-event">{{date}}</span>
        <span class="time-event">{{startDate}} - {{endDate}}</span>
        <span class="follow-event"></span>
      </span>
    </div>
  </a>
</template>
